body {
  background: url("food.jpg");
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-around;
}
h1 {
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.button-add {
  background-color: #77cf40;
  padding: 15px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
}
.button-delete {
  background: none;
  padding: 15px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
}
.whole-plan {
  width: 70%;
  height: 100vh;
}
/* .meal-editing {

} */
.myInput {
  width: 90% ;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  height: 20px;
  font-family: "Montserrat", sans-serif;
}
textarea {
  width: 90% ;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  height: 200px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ddd;
}
.selected {
  background-color: #fad106;
}
.default {
  background-color: #dcedf7;
}
.textFirst {
  background-color: #dcedf7;
  font-size: 35px;
  height: min-content;
  padding: 15px;
  border-radius: 20px;
  margin-top: 200px;
 
}